<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Login_Screen.My.MySettings.group26ConnectionString"
            connectionString="Data Source=146.230.177.46\ist3;Initial Catalog=group26;User ID=group26;Password=56er2"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>